* {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;

}

body {
  background-image: url('../public/images/background.png');
}